.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  width: 300px;
  height: 590px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  /* backdrop-filter: blur(15px); */
  transition: 0.2s;
}

.container .card:hover {
  transform: scale(1.03);
}

.container .card .content {
  padding: 28px;
  text-align: center;
}

.content h4 {
  margin: 0 0 16px 0;
}

.message {
  font-weight: normal;
  display: inline;
}

a {
  text-decoration: none;
  color: black;
}

.btn {
  background: rgb(252, 217, 217);
  font-weight: semibold;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  padding: 1rem 1.5rem;
  border: 2px solid rgb(252, 217, 217);
  border-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  box-shadow: .5rem .5rem 1rem #a1a1a1cc,
  -.5rem -.5rem 1rem #fff;
  margin-bottom: 20px;
}

.btn:hover {
  color: red;
  background:  rgb(255, 190, 190);
  box-shadow: .5rem .5rem 1rem #fff,
  -.5rem -.5rem 1rem #a1a1a1cc;
}

.btn:active {
  box-shadow: inset .2rem .2rem 1rem rgb(255, 190, 190),
  -.2rem -.2rem 1rem #a1a1a1cc;
}