body {
   /* box-sizing: border-box; */
   margin: 0;
   /* background:linear-gradient(30deg, crimson,sienna, royalblue, indianred, purple); */
   /* background-position: center;
   background-repeat: no-repeat;
   background-size: cover; */
}